:root {
    --blue: rgb(41, 161, 231);
    --orange: rgb(228, 71, 9);
}

:hover {
    cursor: default;
}

body {
    text-align: center;
    background-image: url(bg.svg);
    background-attachment: fixed;
    font-size: 15px;
    font-family: sans-serif;
    }

.portfolio {
    display: grid;
    /* background-color:white; */
    max-width: 400px;
    margin: 30px auto auto auto;
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.8);
}

    /* .header */

.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "logo"
        "napis";
    justify-items: center;
}

.top img {
    max-width: 100%;
    grid-area: logo;
}

.toptext {
    grid-area: napis;
}

hr {
    border: 2px solid var(--blue);
    width: 80%;
}


    /* .content */

.content {
    color: white;
    display: grid;
}

.about, .skills, .abouttext, .skillstext{
    background-color:var(--blue);
}

.projects, .contact, .projectstext, .contacttext {
    background-color:var(--orange);
}

.title {
    font-size: 40px;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 1);
    position: sticky;
    top: 0px;
    padding: 10px;
    text-transform: uppercase;
}

.title:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 50px 0px rgba(255,255,255,1);
}


.text {
    padding: 20px;
    box-shadow: inset 0px 0px 25px 13px rgba(0, 0, 0, 1);
}