:root {
    --burgundy: hsl(342,74%,20%);
    --green: hsl(64, 63%, 27%);
}

:hover {
    cursor: default;
}

body {
    background-image:url(bg.svg);
    background-attachment: fixed;
    text-align: center;
    font-size: 15px;
    font-family: "Lucida Grande", sans-serif;
    overflow: scroll;
    background-size: contain;
}

.portfolio {
    display: grid;
    max-width: 400px;
    margin: 30px auto auto auto;
    box-shadow: 5px 5px 15px 5px rgba(255, 255, 255, 0.8);
}

    /* .header */

.top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "logo"
        "napis";
    justify-items: center;
    max-height: 400px;
}

.top img {
    height: 90%;
    grid-area: logo;
    margin: 40px 0px 0px 0px;  
}

.toptext {
    grid-area: napis;
    color: #fff;
}

.toptext h1 {
    font-size: 35px;
}

.toptext p {
    font-size: 20px;
}

hr {
    border: 2px solid var(--burgundy);
    width: 80%;
}


    /* .content */

.content {
    color: white;
    display: grid;
}

.about, .skills{
    background-color:var(--burgundy);
}

.abouttext, .skillstext {
    padding: 20px;
    box-shadow: inset 0px 0px 5px 5px rgb(255, 255, 255);
    background-color: hsl(342,74%,10%);
}

.projects, .contact {
    background-color:var(--green);
}

.projectstext, .contacttext {
    padding: 20px;
    box-shadow: inset 0px 0px 5px 5px rgb(255, 255, 255);
    background-color: hsl(64, 63%, 10%);
}

.title {
    font-size: 35px;
    box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 1);
    position: sticky;
    top: 0px;
    padding: 10px;
    z-index: 2;
    font-style: italic
}

.title:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 30px 10px rgba(255, 255, 255, 0.5);
}


        /* Projects  */

.projectstext p {
    font-size: 1.5em;
    text-align: center;
}


.projectstext a:visited {
    color: #fff;
    text-decoration: none;
}

.projectstext a:link {
    color: #fff;
    text-decoration: none;
}

.projectstext img:hover {
    cursor: pointer;
    color: black;
    text-decoration: none;
    transform: scale(0.9)
}

.projectstext img {
    max-width: 300px;
    margin: 20px 0px;
    transition: transform .3s;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.8);
    z-index: 1;
}

        /* Skills */

.skillstext img {
    height: 80px;
    margin: 20px 20px;
}

        /* Contact form */


#contact-area input, #contact-area textarea {
    width: 300px;
	padding: 5px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
    height: 150px;
    width: 300px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area .button {
    width: 100px;
    margin: 0px 20px;
}
